
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
auth.json
notes.md
.env
.env.prod
.env.dev
Usersanshpchrome-playwright-profile
tests/test.spec.ts
test-results.json
